#header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: #131921;
    color: #cbcbcb;
    font-size: 12px;
    position: sticky;
    top:0px;
}
#header div div{
    font-size: 14px;
    color:#fff;
    font-weight: 700;
}
#logo{
    height:45px;
}
/* #input{
    flex:4;
}


#logo,#address,#flag,#signin,#orders,#cart{
    flex:1;
} */

#input{
    display: flex;
    margin-left: 1vw;
    margin-right: 1vw;
    outline:none;
    flex:3;
}
input:focus{
    outline: none;
}
#input:hover{
    border: 3px solid #febd69;
} 
#input input{
    width:100%;
    height: 37px;
    font-size: 17px;
}
#logo{
   padding: 8px;
   flex:0.7;
} 

#signin-header{
    padding: 8px;
    flex:0.5;
}
#orders,#cart{
    padding: 8px;
    flex:0.3;
}

#address:hover,#signin-header:hover,#orders:hover,#cart:hover{
    border:1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}

#address{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    flex:0.4;
}

#location{
    height: 30px;
    width: 3vw;
}
#search img{
    height: 20px;
    width: 2vw;
    margin:8px;
}
#search{
    background-color:#febd69;
    height: 37px ;
    width: 3vw;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#input button{
    background-color:#f3f3f3;
    height: 37px;
    width: 5vw;
    margin-right: -2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


#cart img{
  height: 30px;
  width: 2vw;    
}
#cart{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
